label{
    font-weight: bold;
    margin-right: 1em;
}
body, div, form, input, select, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: darkslategrey;
}
h1, h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}
h1 span{
    font-size: medium;
}

form, .main {
    background: rgb(246, 246, 250);
    max-width: 50em;
    margin: auto;
    padding: 1em;
}
input, select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #8e8e8e;
}
input::placeholder {
    color: darkslategrey;
}
input:disabled, select:disabled{
    color: #8775f9;
    font-style: italic;
}
option:focus {
    border: none;
}
option {
    border: none;
}
.checkbox input {
    margin: 0 10px 0 0;
    vertical-align: middle;
}
.checkbox a {
    color: darkslategrey;
}
.checkbox a:hover {
    color: #85d6de;
}
.btn-item, button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background: darkslategrey;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: white;
}
.btn-item {
    display: inline-block;
    margin: 20px 5px 0;
}
button {
    width: 100%;
}
button:hover, .btn-item:hover {
    background: #85d6de;
}
#description{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}